<!DOCTYPE html>
<html ng-app="superTypeaheadApp">

<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css"/>
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css"/>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="script.js"></script>
</head>

<body>
  <div ng-controller="mainController">
    <div>
      <!--this.value.length-->
      <super-typeahead></super-typeahead>
      <!--<input id="first" type="text" name="input" style="border:none; width:{{myLength}}px;" ng-model="boxOne" bs-options="icon as icon.label for icon in icons" bs-typeahead data-min-length="0" data-html="1" data-auto-select="true" data-animation="am-flip-x" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" /><input style="border:none;  width:{{myLength2}}px;" id="second" ng-keyup="myFunction($event)" type="text" ng-model="boxTwo" data-min-length="0" data-html="1" data-auto-select="true" data-animation="am-flip-x" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" bs-options="icon as icon.label for icon in icons" bs-typeahead>-->
      
       <!-- Using an async data provider -->
    </div>
  </div>
</body>

</html>